{% load static %}
{% for room in rooms %}
    <span class="card-text">
      <a class="navbar-brand" href="#">
        <img src="{{room.host.avatar.url}}" alt="pic" height="24">
      </a>
      <span><a href="{% url 'profile' room.host.id %}">@{{room.host.username}}</a>  {{room.created|timesince}} ago</span>
    </span>
    <div class="card-body">
      <h5 class="card-title"><a href="{% url 'room' room.id %}">{{room.name}}</a></h5>
      <p class="card-text">{{room.description|slice:150}}</p>
      <div style="margin-bottom: 4px;">
      <a href="{% url 'update-room' room.id %}" class="btn btn-secondary">Edit</a>
      <a href="{% url 'delete-room' room.id %}" class="btn btn-secondary">Delete</a>
    </div>
      <span>Topic: {{room.topic.name}} <b>|</b> </span>
      <span>Participants: {{room.participants.all.count}}</span>
      <hr>
    </div>
  {% endfor %}


  

