{% extends 'main.html' %}

{% block content %}

<div class="row">
    <div class="col-8">

        <div class="card">
            <h3 class="card-header">
                Study Room:
                <span>
                    <a href="{% url 'update-room' room.id %}">Edit</a>
                    <a href="{% url 'delete-room' room.id %}">Delete</a>
                </span>
            </h3>
            <div class="card-body">
                <h5 class="card-title">{{room.name}}</h5>
                <p>Hosted by: <a href="{% url 'profile' room.host.id %}">@{{room.host}}</a> </p>
                <span class="rounded-pill" style="background-color: rgb(229, 229, 231); padding: 4px;">Topic:
                    {{room.topic.name}}</span>
                </div>
                
        </div>
        
        <div class="container mt-3" style="width: 70rem;">
            
            <div class="row  d-flex ">
                
                <div class="col-md-8">
                    
                    <div class="headings d-flex justify-content-between align-items-center">
                        <h5>Room Messages</h5>
                    </div>
                    <form method="POST" action="">
                        {% csrf_token %}
            
                        <input type="text" name="body" placeholder="Add a message..." />
                    </form>
                    
                    {% for message in roomMessages %}
                    <div class="card p-3 mt-2">
                        
                        <div class="d-flex justify-content-between align-items-center">

                            <div class="user d-flex flex-row align-items-center">
                                <img src="https://i.imgur.com/C4egmYM.jpg" width="30"
                                    class="user-img rounded-circle mr-2">
                                <span><small class="font-weight-bold text-primary"><a href="{% url 'profile' message.user.id %}">@{{message.user}}</a></small> <small
                                        class="font-weight-bold">{{message.body}}</small></span>
                            </div>

                            <small>{{message.created|timesince}} ago</small>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>



    <div class="col-3">

        <div class="card" style="width: 18rem;">
            <h2 class="card-header text-center">
                Participants
            </h2>
            <ul class="list-group list-group-flush">
                {% for participant in participants %}
                <li class="list-group-item">
                    <div>{{participant.username}}</div>
                    <a href="{% url 'profile' participant.id %}">@{{participant}}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock content %}